<div class="context">
  <p>
    Avem un meniu cu trei acțiuni numite <strong>true</strong>, <strong>partial</strong> și <strong>false</strong>, și două statusuri: <strong>status1</strong> și <strong>status2</strong>.
  </p>

  <ul>
    <li>
      Daca <strong>status1 == true && status2 == true </strong> => actiunea <strong>true</strong> este <strong>activată</strong>, restul sunt disabled
    </li>
    <li>
      Daca <strong>status1 == true && status2 == false || status1 == false && status2 == true </strong> => actiunea <strong>partial</strong> este <strong>activată</strong>, restul sunt disabled
    </li>
    <li>
      Daca <strong>status1 == false && status2 == false </strong> => actiunea <strong>false</strong> este <strong>activată</strong>, restul sunt disabled
    </li>

  </ul>
  <p>Actiunea enabled va fi prima in lista, urmata de restul sortate in ordine alfabetica</p>
</div>




<div class="meniu">
  <button mat-fab extended [matMenuTriggerFor]='menu'>
    <mat-icon fontIcon="expand_more"></mat-icon>
  </button>

  <mat-menu #menu='matMenu'>
    <ng-container *ngFor="let action of getActions()">
      <button [id]="action.label" mat-menu-item [disabled]='action.disabled'>
        <span>{{ action.label }}</span>
      </button>
    </ng-container>
  </mat-menu>
</div>
